{% extends "base.html" %}
{% block content %}

<div class="py-5">
  <div class="container">
    <h2 class="text-center">Get in Touch</h2>
    <p class="text-center">Whether you’ve encountered a glitch in the weave, a delay in your shipment’s journey, or simply wish to discuss the finer points of artisan dice, our ears are open. Drop your message into the collection box below, and one of our guild members will get back to you before the next long rest.</p>

  <form method="post" class="mt-4">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      <label class="form-label">Name</label>
      {{ form.name }}
      {{ form.name.errors }}
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="mb-3">
      <label class="form-label">Subject</label>
      {{ form.subject }}
      {{ form.subject.errors }}
    </div>

    <div class="mb-3">
      <label class="form-label">Message</label>
      {{ form.message }}
      {{ form.message.errors }}
    </div>

    <button class="btn btn-primary" type="submit">Send</button>
  </form>
</div>
{% endblock %}