{% extends "base.html" %}
{% load static %}

{%block content %}
<div class="container my-5">
    <h1 class="display-4 mb-4 text-center">Shipping Information - The Journey of your Loot</h1>
    <hr>
    <p>Every artifact forged at The Tavern is handled with the utmost care before it begins its journey to your tabletop. Because we work in small batches and hand-finish our items, we ensure each package is securely warded for transit.</p>
    
    <h2>Dispatch Times</h2>
    <ul>
        <li>Standard Dispatch: We aim to dispatch all orders from our UK workshop within 2–4 business days.</li>
        <li>Small-Batch Quality: During high-volume periods (such as new collection launches), please allow an extra day or two for our artisans to perform their final quality checks. You will receive a magical notification (an email) containing your tracking number as soon as your order leaves our hands.</li>
    </ul>

    <h2>International Quests (Customs & Duties)</h2>
    <p>For our adventurers outside of the UK, please be aware that your kingdom may levy customs fees, import duties, or taxes upon arrival.</p>
    <ul>
        <li>These charges are the responsibility of the recipient.</li>
        <li>The Tavern cannot predict or control these fees, as they are determined by your local customs office.</li>
    </ul>

    <h2> Damaged or Lost Cargo</h2>
    <p>If your package arrives looking like it’s been through a dragon’s hoard (damaged) or fails to arrive at all, contact us immediately.</p>
    <ul>
        <li>Damages: Please provide photographic evidence of the damage within 48 hours of delivery so we can arrange a replacement.</li>
        <li>Lost Shipments: If your tracking hasn't moved in 10 business days (UK) or 25 business days (International), we will launch a search party (and a claim) to resolve the issue for you</li>
    </ul>

    <h2>Eco-Friendly Packaging</h2>
    <p>In an effort to protect the natural realms, we use recyclable and biodegradable materials whenever possible. Your dice and accessories are protected by sustainable honeycomb paper or starch-based packing materials.</p>
    </div>
    {% endblock %}
