/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Base Styles */
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Almendra', serif;
    --primary-color: #FFF9E1;
    --secondary-color: #1A1A1D;
    --primary-accent: #A68A56;
    --secondary-accent: #2D4032;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

p {
    font-family: var(--font-primary) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary) !important;
}

/* Navbar Styles */
#heading {
    background-color: var(--secondary-accent) !important;
    border-color: var(--secondary-accent) !important;
}

#heading .container {
    padding-bottom: 10px;
}

#heading .input-group {
    width: 85%;
}

#searchbar {
    padding-left: 15%
}

#heading .btn {
    background-color: var(--primary-accent) !important;
}

#heading a {
    color: var(--primary-color) !important;
}

#heading .dropdown-toggle::after {
  display: none !important;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

.message-container {
  padding-top: 0 !important;
  margin-top: -9px !important;
}

#products-navigation {
    background-color: var(--primary-accent) !important;
    border-color: var(--secondary-accent) !important;
    color: var(--secondary-color) !important;
}

#products-navigation .navbar {
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: var(--font-primary);
    font-weight: bold
}


/* Hero Image */
#hero-image {
    background-image: url('/static/images/header-2.png');
    background-position: center;
    height: 385px;
    margin-bottom: 2rem;
}

#hero-image,
#welcome-section {
  color: var(--secondary-color);
}

main,
.message-container,
#hero-section,
#welcome-section {
  background-color:var(--primary-color);
  color: var(--secondary-color);
}

.message-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.footer-band {
  background-color: var(--secondary-accent);
  color: var(--primary-color);
}

.footer-band a {
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--font-primary);
}

.footer-band a:hover {
  text-decoration: underline;
}

/* Index Page Specific Styles */

#introductory-text {
    font-size: 18px;
    margin-bottom: 2rem;
}

#reasonstobuy {
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
}

#reasonstobuy,
#reasonstobuy .carousel-inner,
#reasonstobuy .carousel-item {
  background: var(--secondary-accent);
  color: var(--primary-color);
}


#reasonstobuy .carousel-item {
  padding: 3rem 0;
}

.reason-card {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

#reasonstobuy .carousel-control-prev,
#reasonstobuy .carousel-control-next {
  width: 10%;
  color: var(--primary-accent) !important;
}

.btn {
    background-color: var(--secondary-accent);
    color: var(--primary-color);
    border: none;
    padding: 15px 30px;
    font-family: var(--font-primary);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-accent);
}