/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Base Styles */
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Almendra', serif;
    --primary-color: #FFF9E1;
    --secondary-color: #1A1A1D;
    --primary-accent: #A68A56;
    --secondary-accent: #2D4032;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

p {
    font-family: var(--font-primary) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary) !important;
}

/* Navbar Styles */
#navbar {
    background-color: var(--secondary-accent) !important;
    border-color: var(--secondary-accent) !important
}

#navbar .input-group {
    width: 85%;
}

#searchbar {
    padding-left: 15%
}

#navbar .btn {
    background-color: var(--primary-accent) !important;
}

#navbar a {
    color: var(--primary-color) !important;
}

#navbar .dropdown-toggle::after {
  display: none !important;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

/* Hero Image */
#hero-image {
    background-image: url('/static/images/header-2.png');
    background-position: center;
    height: 385px;
    margin-bottom: 2rem;
}

#hero-text {
    color: var(--primary-accent);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 2rem;
    text-align: right;
    font-size: 50px;
    padding-right: 2rem;
}

/* Index Page Specific Styles */

#introductory-text {
    font-size: 18px;
    margin-bottom: 2rem;
}

#reasonstobuy {
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
}

#reasonstobuy,
#reasonstobuy .carousel-inner,
#reasonstobuy .carousel-item {
  background: var(--secondary-accent);
  color: var(--primary-color);
}


#reasonstobuy .carousel-item {
  padding: 3rem 0;
}

.reason-card {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

#reasonstobuy .carousel-control-prev,
#reasonstobuy .carousel-control-next {
  width: 10%;
  color: var(--primary-accent) !important;
}

.btn {
    background-color: var(--secondary-accent);
    color: var(--primary-color);
    border: none;
    padding: 15px 30px;
    font-family: var(--font-primary);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-accent);
}