{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container text-center mt-5 mb-5">
    <h1 class="mt-2">404 - You’ve Wandered Off the Map.</h1>
    <p class="text-center">The mist thickens, and the trail beneath your boots has vanished. The elders warned of these 'dead zones' in the weave—places where pages go to die and links are swallowed by the void. Do not panic; take a long rest and head back to familiar territory.</p>
    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Return to The Tavern</a>
</div>
{% endblock %}