{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container text-center mt-5 mb-5">
    <h1 class="mt-2">500 - The Weave Has Unraveled</h1>
    <p class="text-center">
        A surge of raw, untamed energy has overwhelmed the local ley lines. The stones are trembling, and the very fabric of this realm is tearing at the seams. Our resident Wizards have been alerted and are currently performing a ritual of restoration to stabilize the connection.
        This isn't your fault adventurer — it seems the gods themselves have intervened. Please, retreat to the safety of the campfire while we mend the rift.</p>
    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Teleport Home</a>
</div>
{% endblock %}