<!-- Code taken from Boutique Ado -->

<div class="collapse navbar-collapse d-lg-flex justify-content-between" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

         <!-- Home for mobile -->
          <li class="nav-item d-md-none">
            <a class="logo-font fw-bold nav-link text-dark me-5"
            href="{% url 'home' %}"
            aria-label="Return to homepage">
            HOME
        </a>
    </li>


        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link me-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-label="All products dropdown" aria-haspopup="true" aria-expanded="false">
                ALL PRODUCTS
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?sort=name" class="dropdown-item">By Alphabetical Order</a>
                <a href="{% url 'products' %}?sort=price" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="dice-link" data-bs-toggle="dropdown" aria-label="Dice dropdown" aria-haspopup="true" aria-expanded="false">
                DICE
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?category=acrylic" class="dropdown-item">Acrylic Dice</a>
                <a href="{% url 'products' %}?category=resin" class="dropdown-item">Resin Dice</a>
                <a href="{% url 'products' %}?category=metallic" class="dropdown-item">Metallic Dice</a>
                <a href="{% url 'products' %}?category=acrylic,resin,metallic" class="dropdown-item">All Dice</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="other-ttrpg-items-link" data-bs-toggle="dropdown" aria-label="Other accessories dropdown" aria-haspopup="true" aria-expanded="false">
                OTHER ACCESSORIES
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?category=dice_roller" class="dropdown-item">Dice Towers</a>
                <a href="{% url 'products' %}?category=dice_bag" class="dropdown-item">Dice Bags</a>
                <a href="{% url 'products' %}?category=dice_box" class="dropdown-item">Dice Boxes</a>
                <a href="{% url 'products' %}?category=dice_roller,dice_bag,dice_box" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <!-- Other Pages (mobile only) -->

         <li class="nav-item d-md-none">
            <a class="logo-font fw-bold nav-link text-dark me-5"
            href="{% url 'about' %}"
            aria-label="Go to Our Story page">
            OUR STORY
        </a>
    </li>

        <li class="nav-item d-md-none">
            <a class="logo-font fw-bold nav-link text-dark me-5"
            href="{% url 'faq' %}"
            aria-label="Go to our FAQ page">
            FAQ
        </a>
    </li>

    <li class="nav-item d-md-none">
            <a class="logo-font fw-bold nav-link text-dark me-5"
            href="{% url 'shipping' %}"
            aria-label="Go to our shipping information page">
            SHIPPING
        </a>
    </li>

    <li class="nav-item d-md-none">
            <a class="logo-font fw-bold nav-link text-dark me-5"
            href="{% url 'returns' %}"
            aria-label="Go to our returns and exchanges page">
            RETURNS & EXCHANGES
        </a>
    </li>

        <li class="nav-item d-md-none">
            <a class="logo-font fw-bold nav-link text-dark me-5"
            href="{% url 'contact' %}"
            aria-label="Contact us">
            CONTACT US
        </a>
    </li>
</ul>
</div>