<div id="info-banner" class="scroll-banner banner-style text-center py-2">
    <div class="scroll-viewport">
        <div class="scroll-content d-flex">
            <span> Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}!</span>
            <span> Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}!</span>
            <span> Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}!</span>
            <span> Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}!</span>
            <span> Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}!</span>
            <span> Free delivery on orders over £{{ free_delivery_threshold|floatformat:0 }}!</span>
        </div>
    </div>
</div>